<div class="HeroSkillsCardV1">
	<div class="label col-header list-header gait-skills-header">
		<span>{{ rc-i18n "RipCrypt.Apps.grit-skills" }}</span>
		<span class="small">{{ rc-i18n "RipCrypt.common.rank" }}</span>
	</div>
	<ol class="num-before skill-list even grit-skills">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>

	<div class="label col-header list-header gait-skills-header">
		<span>{{ rc-i18n "RipCrypt.Apps.gait-skills" }}</span>
		<span class="small">{{ rc-i18n "RipCrypt.common.rank" }}</span>
	</div>
	<ol class="num-before skill-list even gait-skills">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>

	<div class="label col-header list-header grip-skills-header">
		<span>{{ rc-i18n "RipCrypt.Apps.grip-skills" }}</span>
		<span class="small">{{ rc-i18n "RipCrypt.common.rank" }}</span>
	</div>
	<ol class="num-before skill-list odd grip-skills">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>

	<div class="label col-header list-header glim-skills-header">
		<span>{{ rc-i18n "RipCrypt.Apps.glim-skills" }}</span>
		<span class="small">{{ rc-i18n "RipCrypt.common.rank" }}</span>
	</div>
	<ol class="num-before skill-list odd glim-skills">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>

	<div class="label col-header list-header">
		<span>{{ rc-i18n "RipCrypt.common.gear" }}</span>
		<span class="small">{{ rc-i18n "RipCrypt.common.slots" }}</span>
	</div>
	<ol class="num-after gear-list">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>
</div>