<div class="HeroSummaryCardV1">
	{{!-- * Header --}}
	<div class="header">
		<div class="image">Logo Image</div>
		<label class="row-alt" for="{{meta.idp}}-name">
			Hero
		</label>
		<div>
			Player
		</div>
	</div>
	<input
		id="{{meta.idp}}-name"
		type="text"
		class="hero_name row-alt"
		value="{{actor.name}}"
		name="name"
	>

	{{!-- * Armour --}}
	<div class="armour"></div>

	{{!-- * Fate & Advancement --}}
	<div class="fate">
		<label for="{{meta.idp}}-fate-path" class="col-header">Fate</label>
		<select class="row-alt" id="{{meta.idp}}-fate-path" name="system.fate">
			{{rc-options fate.selected fate.options localize=true}}
		</select>
	</div>

	{{!-- * Weapons --}}

	{{!-- * Skills --}}

	{{!-- * Equipment --}}
</div>
