<div class="HeroSkillsCardV1">
	<div class="label col-header list-header gait-skills-header">
		<span>{{ rc-i18n "RipCrypt.Apps.grit-skills" }}</span>
		<span class="small">{{ rc-i18n "RipCrypt.common.rank" }}</span>
	</div>
	<ol class="num-before skill-list even grit-skills">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>

	<div class="label col-header list-header gait-skills-header">
		<span>{{ rc-i18n "RipCrypt.Apps.gait-skills" }}</span>
		<span class="small">{{ rc-i18n "RipCrypt.common.rank" }}</span>
	</div>
	<ol class="num-before skill-list even gait-skills">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>

	<div class="label col-header list-header grip-skills-header">
		<span>{{ rc-i18n "RipCrypt.Apps.grip-skills" }}</span>
		<span class="small">{{ rc-i18n "RipCrypt.common.rank" }}</span>
	</div>
	<ol class="num-before skill-list odd grip-skills">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>

	<div class="label col-header list-header glim-skills-header">
		<span>{{ rc-i18n "RipCrypt.Apps.glim-skills" }}</span>
		<span class="small">{{ rc-i18n "RipCrypt.common.rank" }}</span>
	</div>
	<ol class="num-before skill-list odd glim-skills">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ol>

	<div class="label col-header list-header">
		<span>{{ rc-i18n "RipCrypt.common.gear" }}</span>
		<span class="small">{{ rc-i18n "RipCrypt.common.slot" }}</span>
	</div>
	<ol class="num-after gear-list">
		{{#each gear as | itemInSlot |}}
			<li
				data-slot="{{itemInSlot.index}}"
				data-ctx-menu="gear"
				data-slot-empty="{{ itemInSlot.empty }}"
				data-item-id="{{ itemInSlot.uuid }}"
			>
				{{itemInSlot.name}}
			</li>
		{{/each}}
	</ol>

	<div class="ammo half-pill">
		<div class="label">
			{{ rc-i18n "RipCrypt.common.ammo"}}
		</div>
		<div class="input">
			{{ ammo }}
		</div>
	</div>

	{{!-- * Currencies --}}
	<div class="currencies">
		<div class="currency half-pill">
			<label for="{{meta.idp}}-gold" >
				{{ rc-i18n "RipCrypt.common.currency.gold"}}
			</label>
			<input
				type="number"
				id="{{meta.idp}}-gold"
				class="input"
				value="0"
			>
		</div>
		<div class="currency half-pill">
			<label for="{{meta.idp}}-silver" >
				{{ rc-i18n "RipCrypt.common.currency.silver"}}
			</label>
			<input
				type="number"
				id="{{meta.idp}}-silver"
				class="input"
				value="0"
			>
		</div>
		<div class="currency half-pill">
			<label for="{{meta.idp}}-copper" >
				{{ rc-i18n "RipCrypt.common.currency.copper"}}
			</label>
			<input
				type="number"
				id="{{meta.idp}}-copper"
				class="input"
				value="0"
			>
		</div>
	</div>
</div>