<div class="HeroCraftCardV1">
	<div data-aspect="focus" class="col-header aspect-header">
		<span class="name">Focus</span>
		<span class="small">Details</span>
	</div>
	<ol data-aspect="focus" class="num-before craft-list">
		{{#each craft.focus as | craft |}}
			{{#if craft}}
				<li data-item-id="{{craft.uuid}}" data-ctx-menu="craft">
					<span class="name">{{ craft.name }}</span>
					{{#if craft.use}}
						<rc-icon
							name="icons/info-circle"
							var:size="16px"
							var:fill="currentColor"
							data-tooltip="{{ craft.use }}"
							data-tooltip-direction="UP"
						></rc-icon>
					{{/if}}
				</li>
			{{else}}
				<li></li>
			{{/if}}
		{{/each}}
	</ol>

	<div data-aspect="flect" class="col-header aspect-header">
		<span class="name">Flect</span>
		<span class="small">Details</span>
	</div>
	<ol data-aspect="flect" class="num-before craft-list">
		{{#each craft.flect as | craft |}}
			{{#if craft}}
				<li data-item-id="{{craft.uuid}}" data-ctx-menu="craft">
					<span class="name">{{ craft.name }}</span>
					{{#if craft.use}}
						<rc-icon
							name="icons/info-circle"
							var:size="16px"
							var:fill="currentColor"
							data-tooltip="{{ craft.use }}"
							data-tooltip-direction="UP"
						></rc-icon>
					{{/if}}
				</li>
			{{else}}
				<li></li>
			{{/if}}
		{{/each}}
	</ol>
</div>
